body {
    font-family: Arial, sans-serif;
    background-color: #25344D;
    color: white;
    margin: 0;
    padding-top: 60px;
    min-height: 100vh;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.containerrow {
    display: flex;
    flex-direction: row; /* Assicura che i bambini siano disposti in una riga */
    justify-content: center; /* Allinea gli elementi al centro */
    gap: 20px;  /* Spazio tra i pulsanti */
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
}

/* Nascondi il reale input per il file */
input[type="file"] {
    display: none;
}

/* Crea uno stile per il "button" personalizzato */
.custom-file-label {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: #3a4b5c;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    cursor: pointer;
    position: relative;
    margin: 0 10px; /* Spazio tra i due bottoni */
}

/* Posiziona il testo all'interno del bottone */
.custom-file-label span {
    display: block;
    margin-top: 30px;
    font-size: 24px;
    color: #fff;
}

/* Posiziona l'immagine all'interno del bottone */
.custom-file-label img {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
}

/* Hover effect */
.custom-file-label:hover {
    background-color: #4a5b6c;
}

.modify-btn {
    background-color: #3a4b5c;
    width: 100px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100px;
    height: 50px;

}
.modify-btn:hover {
    background-color: #4a5b6c;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    z-index: 1000;
}

.logo-image img {
    height: 30px;
    width: auto;
}

.language-selector select {
    padding: 8px 12px;
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    text-align: center;
    transition: all 0.3s ease;
    height: 40px;
    box-sizing: border-box;
}

.language-selector select:hover {
    color: #6180b6;
    border: 2px solid #6180b6;
    background-color: rgba(255, 255, 255, 0.1);
}

.language-selector option {
    color: #25344D;
}